#rock-btn {
    height:200px;
    width:200px;
    font-size: 32px;
}

#paper-btn {
    height:200px;
    width:200px;
    font-size: 32px;
}

#scissors-btn {
    height:200px;
    width:200px;
    font-size: 32px;
}